@charset "utf-8";

//导入方法
@import "../base/var";

//导入方法
@import "../base/fun";




/** index 首页 **/
.content{
  width: 100%;
  height: inherit;
  margin-bottom: 98px;
  position: relative;


  //底部百块
  .blank-bg{
    background-color: $bg;
    height: 115px;
    width: 100%;

    .blank-bg-seq-black{
      width: 35px;
      height: 4px;
      background: #2d2e36;
      border-radius: 5px;

      margin-top: 100px;
    }

    .blank-bg-seq-gray{
      width: 35px;
      height: 4px;
      background: #dedede;
      border-radius: 5px;

      position: relative;
      top: 14px;
    }
  }


  //分享
  .share-icon{
    span{
      margin:  0 50px;
    }
  }

  //描述部分
  .home-desc{
    h4{
      font-size: rem(36px);
      color: $color-black;

      margin-bottom: rem(26px);
      margin-top: rem(0px);
    }

    span{
      font-size: rem(18px);
      color: $color-pink-light;
    }

.dot-sq{
  width: rem(17px);
  height: rem(3px);
  background-color: #e0e0e0;
}

    .dot-sq-bt{
      margin-top: 28px;
      margin-bottom: 14px;
      border-radius: 10px;
    }

    .dot-sq-tp{
      margin-top: 14px;
      margin-bottom: 28px;
      border-radius: 10px;
    }
  }


  .bg{
    width: inherit;
    height: inherit;
    position: relative;
  }


  //banner展示图
  .bg-banner{
    background:url("../../img/banner/index-banner.jpg" )  no-repeat;
    position: relative;
    background-size: cover;

    .bg-banner:after {
      clear: both;
      content: ".";
      display: block;
      height: 0;
      visibility: hidden;
    }




    .container{
      position: relative;

      .banner-content{

        position: absolute;
        right: 0px;
        bottom: rem(70px);


        //banner 字体
        .banner-title{
          font-size: rem(68px);
          margin-bottom: rem(10px);
        }

        .banner-desc{
          font-size: rem(30px);
          text-shadow: 1px 1.732px 2px rgb( 6, 0, 1 );
        }

      }


    }


  }



  //列表
  .home-list{

    background-color: $bg;

    .home-list-ul{

      .row{
        margin-left: -10px;
        margin-right: -10px;
        .col-md-4,.col-md-8,.col-md-6{
          padding-left: 10px;
          padding-right: 10px;
        }
      }

      li{
        height:  $home-list-height;
        margin-bottom: rem(38px);

        .head{

          border: 10px solid $default-head;
          border-radius: rem(80px);
        }

        .username{
          margin-top: rem(18px);

            font-size: rem(36px);
            color: $username-color;
        }

        .desc-bg{
          background-color: #ffffff;
          padding-left: 10px;

          a{
            width: 100%;
            height: inherit;
          }
          //内容图片
          .desc-img{
            position: relative;
            overflow: hidden;

            .desc-title{
              position: absolute;
              right: 15px;
              font-size: rem(24px);
              bottom: 8px;
            }

          }
        }



        .head-bg-main{
          background: $head-bg;
        }
        .head-bg{
          position: relative;

        }
      }

      div{
        height: inherit;
      }


    }





  }


  //more
  .more-load{
    margin: 15px 0;


    .more-font{
      cursor: pointer;
      font-size: rem(36px);
      color: $more;

    }

    .dot:nth-child(1){
      margin-left: rem(24px);
    }
    .dot{
      background-color: #b5c4d2;
      width: 17px;
      height: 17px;
      border-radius: 60px;
      margin-right: rem(16px);
    }
  }


  //verification
  .verification{
    font-size: rem(30px);
    color: #2d2e36;

    margin: rem(48px) 0;
  }

}






