@charset "UTF-8";
/** 瀵煎叆鍙橀噺 **/
/** index 首页 **/
.content {
  width: 100%;
  height: inherit;
  position: relative; }
  .content .blank-bg {
    background-color: #fcfcfc;
    height: 115px;
    width: 100%;
    padding-bottom: 98px; }
    .content .blank-bg .blank-bg-seq-black {
      width: 35px;
      height: 4px;
      background: #2d2e36;
      border-radius: 5px;
      margin-top: 100px; }
    .content .blank-bg .blank-bg-seq-gray {
      width: 35px;
      height: 4px;
      background: #dedede;
      border-radius: 5px;
      position: relative;
      top: 14px; }
  .content .share-icon span {
    margin: 0 50px; }
  .content .home-desc h4 {
    font-size: 36px;
    color: #040404;
    margin-bottom: 26px;
    margin-top: 0px; }
  .content .home-desc span {
    font-size: 18px;
    color: #ff519f; }
  .content .home-desc .dot-sq {
    width: 17px;
    height: 3px;
    background-color: #e0e0e0; }
  .content .home-desc .dot-sq-bt {
    margin-top: 28px;
    margin-bottom: 14px;
    border-radius: 10px; }
  .content .home-desc .dot-sq-tp {
    margin-top: 14px;
    margin-bottom: 28px;
    border-radius: 10px; }
  .content .bg {
    width: inherit;
    height: inherit;
    position: relative; }
  .content .bg-banner {
    background: url("../../img/banner/index-banner.jpg") no-repeat;
    position: relative;
    background-size: cover; }
    .content .bg-banner .bg-banner:after {
      clear: both;
      content: ".";
      display: block;
      height: 0;
      visibility: hidden; }
    .content .bg-banner .container {
      position: relative; }
      .content .bg-banner .container .banner-content {
        position: absolute;
        right: 0px;
        bottom: 70px; }
        .content .bg-banner .container .banner-content .banner-title {
          font-size: 68px;
          margin-bottom: 10px; }
        .content .bg-banner .container .banner-content .banner-desc {
          font-size: 30px;
          text-shadow: 1px 1.732px 2px #060001; }
  .content .home-list {
    background-color: #fcfcfc; }
    .content .home-list .home-list-ul {
      padding-top: 66px; }
      .content .home-list .home-list-ul .row {
        margin-left: -10px;
        margin-right: -10px; }
        .content .home-list .home-list-ul .row .col-md-4, .content .home-list .home-list-ul .row .col-md-8, .content .home-list .home-list-ul .row .col-md-6 {
          padding-left: 10px;
          padding-right: 10px; }
      .content .home-list .home-list-ul li {
        height: 300px;
        margin-bottom: 38px; }
        .content .home-list .home-list-ul li .head {
          border: 10px solid #dae8f6;
          border-radius: 80px;
          overflow: hidden; }
        .content .home-list .home-list-ul li .username {
          margin-top: 18px;
          font-size: 36px;
          color: #5e717b; }
        .content .home-list .home-list-ul li .desc-bg {
          background-color: #ffffff;
          padding-left: 10px;
          text-align: left; }
          .content .home-list .home-list-ul li .desc-bg a {
            width: 100%;
            height: inherit; }
          .content .home-list .home-list-ul li .desc-bg .desc-img {
            position: relative;
            overflow: hidden; }
            .content .home-list .home-list-ul li .desc-bg .desc-img .desc-title {
              position: absolute;
              right: 15px;
              font-size: 24px;
              bottom: 8px; }
        .content .home-list .home-list-ul li .head-bg-main {
          background: #f3f5f7; }
        .content .home-list .home-list-ul li .head-bg {
          position: relative; }
      .content .home-list .home-list-ul div {
        height: inherit; }
  .content .more-load {
    margin: 15px 0; }
    .content .more-load .more-font {
      cursor: pointer;
      font-size: 36px;
      color: #b5c4d2; }
    .content .more-load .dot:nth-child(1) {
      margin-left: 24px; }
    .content .more-load .dot {
      background-color: #b5c4d2;
      width: 17px;
      height: 17px;
      border-radius: 60px;
      margin-right: 16px; }
  .content .verification {
    font-size: 30px;
    color: #2d2e36;
    margin: 48px 0; }

/*# sourceMappingURL=index.css.map */
