.content {


  .bg-banner {

    //ip5 下的背景
    background-position: center center !important;
    height: 504px !important;


    .container {
      //背景字体
      .banner-content {

        .banner-title {
          font-size: 36px;
        }
        .banner-desc {
          font-size: 18px;
        }
      }

    }
  }



}