<section  ng-controller="AddStoryCtrl">

<div class="story-layer">

    <div class="story-body text-center">

        <!-- tips -->
        <div ng-hide="isFirst" class="story-tips">

            <div class="add-left-story ib add-left-short-tips">
                <div>
                    <span class="ib  add-left-short tips"></span>
                </div>

            </div>
            <div class="add-right-story ib">

                <section class="add-story-bg tips">
                    <h4>Tips</h4>
                    <h4>Double click the photo to add description</h4>
                </section>

            </div>

        </div>


        <!-- 封面 -->
        <ul ng-if="cover">
            <li>
                <div class="add-left-story ib">
                    <div>
                        <span class="ib  add-left-short"></span>
                    </div>

                    <div>
                        <a href="javascript:void(0);" class="ib add-num cover">cover</a><span
                            class="ib add-right-long cover"></span>
                    </div>
                    <div>
                        <span class="ib add-left-long"></span>
                    </div>
                </div>
                <div class="add-right-story ib">


                    <div class="add-story-bg" ng-dblclick="showText(cover,'cover');">
                        <img ng-src="{{cover.pic}}" class="full-img ntp"/>

                        <div class="add-story-bg-text" ng-show="cover.isShow">
                            <div class="pos-rel addStory-text-main">
                                <div class="addStory-text-opacity"></div>

                                <div class="save-layer">
                                    <span class="save-tips">{{coverCurrent}}/<span class="color-01">{{coverMax}}</span></span>
                                    <button class="saveBtn" ng-click="hideText(cover);">Save</button>
                                </div>

                                <input type="text"    class="addStory-text cover" ng-model="cover.coverDesc"
                                       placeholder="Add a Title"  value="{{cv}}"/>

                            </div>

                        </div>

                        <div class="add-story-desc add-story-bg-text" ng-hide="cover.isShow">
                            <div class="pos-rel addStory-text-auto">
                                {{cover.coverDesc}}
                            </div>
                        </div>

                         <button class="reloadBtn  " ng-click="reloadFn(cover);">Reupload</button>
                    </div>

                </div>
            </li>
        </ul>


        <!-- 内容区域 -->
        <ul>
            <li ng-repeat="story in  storys">
                <div class="add-left-story ib">
                    <div>
                        <span class="ib  add-left-short"></span>
                    </div>
                    <div>
                        <a href="javascript:void(0);" class="ib add-num ">{{$index+1}}</a><span
                            class="ib add-right-long "></span>
                    </div>
                    <div>
                        <span class="ib add-left-long "></span>
                    </div>
                </div>
                <div class="add-right-story ib">

                    <div class="add-story-bg" ng-dblclick="showText(story,'',$index);">
                        <img ng-src="{{story.pic}}" class="full-img ntp"/>

                        <div class="add-story-bg-text" ng-show="story.isShow">

                            <div class="pos-rel addStory-text-main mutil">
                                <div class="addStory-text-opacity"></div>

                                <div class="save-layer">
                                    <span class="save-tips">{{story.current}}/<span class="color-01">{{storDescMax}}</span></span>
                                    <button class="saveBtn " ng-click="hideText(story);">Save</button>
                                </div>

                                <textarea class="addStory-text-muitl" ng-model="story.desc"
                                          placeholder="Add some description for this photo!"></textarea>
                            </div>

                        </div>

                        <div class="add-story-desc add-story-bg-text" ng-hide="story.isShow">
                            <div class="pos-rel addStory-textarea-text">
                                {{story.desc}}
                            </div>
                        </div>

                        <button class="reloadBtn  " ng-click="reloadFn(story);">Reupload</button>
                    </div>

                </div>
            </li>

        </ul>


        <!-- 添加 -->
        <ul>

            <li>
                <div class="add-left-story ib">
                    <div>
                        <span class="ib  add-left-short"></span>
                    </div>

                    <div>
                        <a href="javascript:void(0);" class="ib add-num ">{{storys.length+1}}</a><span
                            class="ib add-right-long "></span>
                    </div>
                    <div>
                        <span class="ib add-left-long "></span>
                    </div>
                </div>
                <div class="add-right-story ib">

                    <div class="add-story-bg"
                         ng-style="{ 'margin-top' : isFirst == true ? '43px' : '0px','overflow' : ' inherit'}">
                        <div class="add-story-black">
                            <span class="ib add-progress" ng-show="isUpload">{{dynamic}}</span>
                            <button class="btnAddStory" ng-hide="isUpload" type="file" ng-file-select=""
                                    ng-model="myFiles" name="file" ng-file-change=""><i
                                    class="ib ui-widget add addPhoto"></i>Add photos
                            </button>
                        </div>

                        <div class="publishBtn-bg" ng-hide="isFirst">
                            <button class="btn publishBtn" ng-disabled="isPublish" ng-click="submitStory();">
                                <i class="ib ui-widget arrow-right" ng-hide="isPublish"></i>
                                <i ng-show="isPublish" class="ib loading loading-am"></i> <span class="loading-am"
                                                                                                ng-hide="isPublish">Publish</span>
                            </button>
                        </div>
                    </div>


                </div>
            </li>


        </ul>


    </div>




</div>










<!--  reload -->
<section ng-show="isReload">
    <!--mask-->
    <div class="mask"></div>

    <div class="story-layer topLayer" >

        <!--<div class="story-header">-->
            <!--<h1 class="fm-roman">Reload  </h1>-->
        <!--</div>-->

        <i class="ui-widget ib closeWd" ng-click="closeReload();"  style="position: absolute;right: 10px;cursor: pointer;top: 37px;"></i>

        <div class="story-body text-center">

            <ul style="margin-top: 100px;">
                <li>
                    <div class="add-right-story ib">
                        <div class="add-story-bg">

                            <div class="add-story-black">
                                <span class="ib add-progress" ng-show="isUpload">{{dynamic}}</span>
                                <button class="btnAddStory" ng-hide="isUpload" type="file"  ng-file-select=""
                                        ng-model="reloadFile" name="file" ng-file-change=""><i
                                        class="ib ui-widget add addPhoto"></i>Reupload photo
                                </button>
                            </div>

                        </div>

                    </div>
                </li>


            </ul>


        </div>


        <div class="container">
            <div class="row pos-rel">


            </div>
        </div>

    </div>
</section>







</section>






