
<div class="story-layer">
            <!--<a class="story-leftside ib ui-widget left-side">-->

            <!--</a>-->
            <!--<a class="story-rightside   ib ui-widget right-side"></a>-->


            <div class="story-body story-detail">
                 <div class="story-detail-cover">
                        <img ng-src="{{story.coverUrl}}"  class="full-img" />


                         <div class="story-detail-cover-tt ib  dot-50">
                             <h3 class="ib story-detail-title fm-roman ">{{story.coverDes}}</h3>
                         </div>
                 </div>

                 <div class="story-detail-content">

                    <div class="col-md-3">

                        <div class="row">
                            <section class="story-detail-user">
                                <img src="img/userinfo.png"  class="full-img" />
                                <ul class="story-detail-star ">
                                    <li>
                                        <a class="block">
                                            <a class="ib star ui-widget"></a>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="block">
                                            <a class="ib star ui-widget"></a>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="block">
                                            <a class="ib star ui-widget"></a>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="block">
                                            <a class="ib star ui-widget"></a>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="block">
                                            <a class="ib star-self ui-widget"></a>
                                        </a>
                                    </li>

                                </ul>
                            </section>

                            <div class="user-nav">
                                <h5 class="user-nav-title">Contribution</h5>

                                <ul class="user-nav-list">
                                    <li>
                                        <a class="ib">
                                            <i class="ib ui-widget book icon"></i>

                                            <div class="ib">
                                                <span class="ib title-base ">Stories</span><br/>
                                                <span class="ib title-content">35</span>
                                            </div>

                                        </a>

                                        <div class="br-line"></div>
                                    </li>


                                    <li>
                                        <a class="ib">
                                            <i class="ib ui-widget cookie icon"></i>

                                            <div class="ib">
                                                <span class="ib title-base ">Tourists Served</span><br/>
                                                <span class="ib title-content">33</span>
                                            </div>

                                        </a>
                                    </li>


                                </ul>

                            </div>


                            <button class="btn sendBtn" ng-click="sendMessage();">
                                <span >Send Me A Message</span>
                            </button>

                        </div>


                    </div>
                    <div class="col-md-9">

                        <section class="story-detail-list">
                            <ul>
                                <li ng-repeat="picStory in story.picStories">
                                    <a class="block">
                                        <img ng-src="{{picStory.pic}}"  class="full-img" />

                                        <div class="story-detail-main">

                                            <div class="story-detail-bg"></div>
                                            <div class="story-detail-text">{{picStory.desc}}</div>
                                        </div>

                                    </a>
                                </li>
                            </ul>


                        </section>
                    </div>


                 </div>



            </div>

</div>



<div ui-view></div>


