@charset "utf-8";


/** account **/
.accountLayer{
  position: absolute;
  top: 40px;
  z-index: 1030;
  width: 100%;
  left: 0;
}

//account 导航
.accountNav{
  position: relative;
  z-index: 2;


    padding-right: 50px;
    li{
        text-align: center;
        height: 62px;
        line-height: 62px;
        color: #ffffff;
        background: #d32271;
        font-size: 18px;
        margin-bottom: 17px;
        width: 230px;


       &.active{
          width: 253px;
       }
    }


  .basic{
    background: #403e3e;
    font-size: 18px;
    text-align: left;
    padding-left: 70px;
  }

  .skill{
    background: #000000;
    font-size: 18px;
    text-align: left;
    padding-left: 70px;
  }

  .view{
    background: #d32271;
    font-size: 18px;
    text-align: left;
    padding-left: 70px;
  }
}


.account-hack{
  padding-left: 0;
//  margin-left: -39px
}

.edit-nav{

  clear: both;

  overflow: hidden;
  border-bottom: 1px solid #ededed;
  background: #ffffff;
  li:first-child{
    margin-left: 30px;
  }
  li{
    text-align: center;
    float: left;
    margin-right: 45px;

    a{
      padding: 10px 10px;
      font-size: 24px;
      color: #929292;
      background: #ffffff;
    }
    &.active a{
      background: #fcfcfc;
      color: #131313;
      padding: 5px 43px;
      font-size: 30px;
      border-radius: 5px;
      border-top:1px solid #ededed;
      border-left:1px solid #ededed;
      border-right:1px solid #ededed;

      border-bottom: 1px solid #fcfcfc;
    }

    &.active{

    }
  }
}

.account-cloum{
    background: #ffffff;
    padding: 1px;

  margin-bottom: 20px;

   .account-cloum-headr{



      background: #000000;
     color: #ffffff;
     height: 88px;
     line-height: 88px;
     font-size: 14px;
     padding-right: 35px;
     text-align: right;

     &.tl{
       text-align: left;
       padding-left: 24px;
     }

   }

  .account-cloum-body{
      margin-top: 28px;
      color: #131313;
  }
}


.edit-setting{

    padding-left: 40px;
   padding-right: 35px;

  h4{
    margin-bottom: 29px;
    font-size: 24px;
    vertical-align: top;
    margin-top: 0;
  }

}

.font-desc{
  line-height: 24px;
  font-size: 13px;
}


.account-form{
  color: #696d6f;

  label{
      margin-right: 12px;
      font-size: 13px;
       padding: 0 ;
   }

  .form-group{

  }

  .upassword{
    margin: 15px 0;
    margin-right: 15px;
  }
  .hr-black{
    margin-top: 20px;
  }
}

.account-input{
  height: 38px;
  line-height: 38px;
  padding-left: 10px;
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  width: 221px;
}

.account-input.w100{
  width: 100%;
}


.editProfile{
  padding-right: 30px;

  .form-group{
    margin-bottom: 25px;
  }
}


.sendMessage{
  padding: 0px 32px  0 30px;
  color: #696d6f;
  .sendMessageTips{
    font-weight: bold;
    .cle{
      width: 8px;
      height: 8px;
      background: #696d6f;
      border-radius: 65px;
      margin-right: 12px;
    }

    li{
      font-size: 12px;
      font-weight: bold;
      margin-bottom: 10px;
    }
  }


  .message{
    height: 184px;
    margin-top: 22px;
    margin-bottom: 25px;
  }
}

