<div class="account-cloum">
    <div class="account-cloum-headr" style="height: 40px;line-height: 40px;font-size: 18px;text-align: center;">
        <a href="#/inbox/list" class="ib pull-left ui-widget inbox-right" style="position: relative;
top: 11px;
left: 13px;"></a>
        Chat with <span class="color-01">Johnny Depp</span>’s
    </div>
    <div class="account-cloum-body">
        <div class="inbox-detail">
            <ul class="">
                <li class="">
                            <div class="inbox-detail-line">----------------------------------------------------------  2015 /02/23  8:35  ----------------------------------------------------------</div>
                        <div class="db-row">
                            <div class="db-cell vt ">
                                <img src="img/inbox-head.png"  width="86" height="86"  style="margin-right: 16px;"/>
                            </div>
                            <div class="db-cell ">
                                  <div class="index-detail-content-rev">
                                      <div class="ib triangle_border_left triangle_border_left_inbox"> </div>
                                      I was born in Germany and I live in Barcelona since 2004. I was born in Germany and I live in Barcelona since 2004. I was born in Germany and I live in Barcelona since 2004. I was born in Germany and I live in Barcelona since 2004. I was born in Germany and I live in Barcelona since 2004.
                                        <div class="inbox-ck "style="border-top: 1px solid;padding-top: 10px;margin-top: 20px;">
                                            / From Johnny Depp’s Story : <span style="color:#54e5ff">”Story title”</span> /
                                        </div>
                                  </div>
                            </div>
                        </div>
                </li>

                <li class="">
                    <div class="inbox-detail-line">----------------------------------------------------------  2015 /02/23  8:35  ----------------------------------------------------------</div>
                    <div class="db-row">
                        <div class="db-cell ">
                            <div class="index-detail-content">
                                <div class="ib triangle_border_right triangle_border_right_inbox"> </div>
                                I was born in Germany and I live in Barcelona since 2004. I was born in Germany and I live in Barcelona since 2004. I was born in Germany and I live in Barcelona since 2004. I was born in Germany and I live in Barcelona since 2004. I was born in Germany and I live in Barcelona since 2004.
                            </div>
                        </div>
                        <div class="db-cell vt">
                            <img src="img/inbox-head.png"  width="86" height="86"  style="margin-left: 16px;"/>
                        </div>
                    </div>
                </li>

            </ul>

            <div class="text-center" style="margin-top: 25px;">
                ---------------------------------------------------  The above information is history    ---------------------------------------------------
            </div>
        </div>

        <div class="sendInbox">
            <div class="ib">
                    <input type="text"  class="sendInboxInput" />
            </div>
            <div class="text-right ib" style="margin-left: 3px;">
                <button class="btn button-01 upassword" style="border-radius: 5px; font-size: 16px;" >
                    <i ng-show="isPublish" class="ib loading loading-am ng-hide"></i>
                    <span class="loading-am" ng-hide="isPublish">Send</span>
                </button>
            </div>

        </div>
    </div>


</div>