<div class="account-cloum">
    <div class="account-cloum-headr" style="height: 40px;line-height: 40px;">
        All
    </div>
    <div class="account-cloum-body">
        <ul class="inbox-list">
            <li>
                <a href="#/inbox/detail" class="db">

                    <div class="db-cell img-cell">
                        <img src="img/inbox-head.png"  class="res-img" width="86" height="86" />
                    </div>
                    <div class="db-cell" style="width: 475px;">
                        <p class="inbox-uname">Johnny Depp</p>
                        <p class="inbox-desc">I was born in Germany and I live in Barcelona since 2004. </p>
                        <div class=inbox-ck">
                            / From Johnny Depp’s Story : ”Story title”/
                        </div>
                    </div>
                    <div class="db-cell vt">
                        <span class="ib inbox-time">20:16   23rd, August  </span>
                    </div>

                    <div class="inbox-line"></div>
                </a>
            </li>

            <li>
                <a href="#/inbox/detail" class="db">

                    <div class="db-cell img-cell">
                        <img src="img/inbox-head.png"  class="res-img" width="86" height="86" />
                    </div>
                    <div class="db-cell"  style="width: 475px;">
                        <p class="inbox-uname">Johnny Depp<span class="ib inbox-num">1</span></p>
                        <p class="inbox-desc">I was born in Germany and I live in Barcelona since 2004. </p>
                        <div class="inbox-ck">
                            / From Johnny Depp’s Story : <span style="color:#54e5ff">”Story title”</span> /
                        </div>
                    </div>
                    <div class="db-cell vt">
                        <span class="ib inbox-time">20:16   23rd, August  </span>
                    </div>

                    <div class="inbox-line"></div>
                </a>


            </li>


        </ul>

    </div>


</div>

