<div class="account-cloum">
    <div class="account-cloum-headr" style="height: 40px;line-height: 40px;background: none">
    </div>

    <div class="account-cloum-body">
        <ul class="inbox-list">
            <li>
                <a href="javascript:void(0);" class="db">

                    <div class="db-cell img-cell vt">
                        <img src="img/inbox-head.png"  width="86" height="86" />
                        <p class="inbox-uname" style="margin-top: 17px;">Johnny Depp</p>
                    </div>
                    <div class="db-cell" style="padding-right: 43px;">
                        <p class="inbox-desc">I was born in Germany and I live in Barcelona since 2004.live in Barcelona since 2004live in Barcelona since 2004live in Barcelona since 2004 Being a healer & artist,my apartment is also my workplace & artgallery at the same time. </p>
                        <div class="review-title">
                            Your Story:”Story title”
                        </div>
                        <div>
                            <span class="ib inbox-time review-time">20:16   23rd, August  </span>
                            <button class="reply-btn" type="button" style="float: right;position: relative;top: 15px;">reply</button>
                        </div>


                        <ul class="review-reply">
                            <li>
                                <section class="db">
                                     <div class="db-cell" style="width: 48px; padding-right: 16px;">
                                         <img src="img/reply.png" width="48" height="48"   />
                                     </div>
                                    <div class="db-cell ">
                                        <div class="review-title">
                                            Your profilYour profilYour profilYour profilYour pro
                                        </div>
                                    </div>
                                </section>
                            </li>
                        </ul>

                        <div class="reply-ct text-right">

                            <textarea class="control reply-text"> </textarea>
                            <button class="reply-btn" type="button" >Send</button>
                        </div>

                    </div>

                    <div class="inbox-line"></div>
                </a>
            </li>


            <li>
                <a href="javascript:void(0);" class="db">
                    <div class="db-cell img-cell vt">
                        <img src="img/inbox-head.png"  width="86" height="86" />
                        <p class="inbox-uname" style="margin-top: 17px;">Johnny Depp</p>
                    </div>
                    <div class="db-cell" style="padding-right: 43px;">
                        <p class="inbox-desc">I was born in Germany and I live in Barcelona since 2004.live in Barcelona since 2004live in Barcelona since 2004live in Barcelona since 2004 Being a healer & artist,my apartment is also my workplace & artgallery at the same time. </p>
                        <div class="review-title">
                            Your Story:”Story title”
                        </div>
                        <div>
                            <span class="ib inbox-time review-time">20:16   23rd, August  </span>
                        </div>



                    </div>


                </a>
            </li>
        </ul>

    </div>


</div>

