@charset "utf-8";

//导入方法
@import "var";

//导入方法
@import "fun";


//导入自定义组件
@import "widget";


//ng animate
.loading-am.ng-hide-add, .loading-am.ng-hide-remove {
  -webkit-transition:all linear 0.5s;
  -moz-transition:all linear 0.5s;
  -o-transition:all linear 0.5s;
  -ms-transition:all linear 0.5s;
  transition:all linear 0.5s;
  display:block!important;
}

.loading-am.ng-hide-add.ng-hide-add-active,
.loading-am.ng-hide-remove {
  opacity:0;
}

.loading-am.ng-hide-add,
.loading-am.ng-hide-remove.ng-hide-remove-active {
  opacity:1;
}



/*
 *  字体导入
 */

@font-face {
  font-family: 'HelveticaNeueLTPro-ThEx';
  src:  url("../../font/HelveticaNeueLTPro-ThEx.ttf") format('truetype'),
       url("../../font/HelveticaNeueLTPro-ThEx.woff") format('woff');

  font-weight: normal;
  font-style: normal;

}


// roman
@font-face {
  font-family: 'HelveticaInseratLTStd-Roman';
  src: url('../../font/HelveticaInseratLTStd-Roman.ttf') format('truetype'),
       url('../../font/HelveticaInseratLTStd-Roman.woff') format('woff');
}


// medium
@font-face {
  font-family: 'HelveticaNeueLTPro-Md';
  src: url('../../font/HelveticaNeueLTPro-Md.ttf') format('truetype'),
       url('../../font/HelveticaNeueLTPro-Md.woff') format('woff');
}

// mediumCond
@font-face {
  font-family: 'HelveticaNeueLTPro-MdCn';
  src: url('../../font/HelveticaNeueLTPro-MdCn.ttf') format('truetype'),
       url('../../font/HelveticaNeueLTPro-MdCn.woff') format('woff');
}


//lt
@font-face {
  font-family:'HelveticaNeueLTPro-Lt';

  src: url('../../font/HelveticaNeueLTPro-Lt.ttf') format('truetype'),
       url('../../font/HelveticaNeueLTPro-Lt.woff') format('woff');

  font-weight: 200;
}


.fm-roman{
  font-family: 'HelveticaInseratLTStd-Roman';
}

.fm-medium{
  font-family: 'HelveticaNeueLTPro-Md';
}

.fm-medium-cond{
  font-family: 'HelveticaNeueLTPro-MdCn';
}

.fm-thex{
  font-family: 'HelveticaNeueLTPro-ThEx';
}


.color-01{
   color: $color-pink;
}

.color-01:hover{
  color: $color-pink;
}


// 设置全局字体
html,body{
  font-family: 'Helvetica Neue','HelveticaNeueLTPro-Lt';
  font-size: $defaultFontSize;

  color: #ffffff;
  width: 100%;

//  height: 100%;
  height: inherit;
  background: #ffffff;
  font-weight: 200;




}

.ntp{
  /* Prevent elements to be highlighted on tap */
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/** 去掉focus的边框 **/
*:focus,*{outline: none;}


//按钮 阴影 边框 去掉
.btn:focus, .btn.focus{
  color: inherit;
}
.btn:focus, .btn.focus, .btn:active:focus, .btn:active.focus, .btn.active:focus, .btn.active.focus{
  outline : 0 none;
  box-shadow : none;
  -webkit-box-shadow : none;
  -ms-box-shadow : none;
}

button.btn:hover{
  background: #e22378;
  color: #ffffff;
}

button{
  background: #d32271;
  color: #ffffff;
}

button:active{
  color: #ffffff;
}

a{
  cursor: pointer;
}
a:hover{
  text-decoration: none;
}

//auth 遮罩
.mask{
  background : url("../../img/xx.png") repeat;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index:  1030;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}




//平板 电脑



/** 登录后界面 **/
.navbar-login.navbar-fixed-top{
  height: 60px;
  background: #000000;
  min-height: 60px;

  .navbar-brand{
    height: 60px;
    line-height: 60px;
    padding: 0;
  }

  .item-login{

//    overflow: hidden;
    vertical-align: middle;

    position: relative;
    top: 11px;

    li {
      display: inline-block;
      vertical-align: middle;

      a{
        vertical-align: middle;
      }
    }


    /** 用户头像 **/
      .userInfo-head{
        width: 42px;
        height: 42px;
        border-radius: 65px;
        overflow: hidden;
        display: inline-block;
      }

      .userInfo-name{
        font-size: 18px;
        color: #ffde00;

        margin-left: 20px;

        &:after{
          margin-left: 20px;
          content: "";

          background-image: url("../../img/ui-widget.png");
          width: 19px;
          height: 11px;
          background-position: 0 -514px;

          @include  px-transition( all  0.3s linear);

          display: inline-block;
          vertical-align: middle;
        }

        &.hov:after{
          @include px-transform(rotate(180deg));
        }
      }


    .userMouse{
    }

    .userInfoLayer{
      position: absolute;
      top: 59px;
      left: -88px;
      width: 197px;
      z-index: 3;
      border: 1px solid #ffde00;

      .trans{
        position: absolute;
        right: 27px;
        top: -16px;
      }
      .userInfoNav{

        text-align: right;

        li{
          display: block;
        }
        li >a{
          padding: 14px 11px 6px 0px;
          margin: 8px 5px;
          color: #ffffff;
          font-size: 14px;
          display: block;
          text-align: right;
          cursor: pointer;
        }

        li:hover{
          background: #6b6b6b;
        }
      }
    }

    .opacityBg{
      opacity: 0.9;
      background: #141414;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      z-index: -1;
    }



    /** 按钮 **/
    .showStories {
        height: 30px;
        width: 190px;
        background: $color-pink;
        color: #ffffff;
        font-size: 18px;
      text-align: center;
      line-height: 30px;
      margin-left: 60px;
    }

  }
}




ul,li{
  margin: 0;
  padding: 0;
  list-style: none;
}

.container{
  height: inherit;
}


.pos-rel{
  position: relative;
}

.btn{
  border-radius: 0;
}


/* 设置下响应点 */
@media (min-width: 1200px){
  .container{
    width: 1000px;
  }
}




//导航条
nav.navbar{

  .navbar-item{

    overflow: hidden;



    //设置底部间距
    padding-top: rem(31px);

    li{
      float: left;
      margin-left: rem(5px);

      a{
        letter-spacing: 1px;
        display: block;
        font-size: rem(18px);
        padding: 4px 15px;
        background: $color-pink;
        &:hover{
           text-decoration: none;
        }

        &.trans{
          background: transparent;
          border: 1px solid #ffffff;
          padding-top: 3px;
          padding-bottom: 3px;
        }

      }

    }


    .arrow-enter-pos{
      position: absolute;
      right: 68px;
      top: 6px;
    }

  }
}


/** 底部 **/
footer{

  background: #2d2e36;
  width: 100%;

  padding-top: rem(84px);
  padding-bottom: rem(70px);


  .footer-end-main{

    border-top: 1px solid #ffffff;

    .footer-end{
      font-size: rem(24px);
      line-height: 90px;
    }
  }

  .footer-icon{

    margin-bottom: 49px;
    margin-top: 97px;



    span{
      margin:  0 67px;
      cursor: pointer;
    }
  }



  .footer-main{
    padding:  rem(5px) rem(12px);
  }

  .left-ft{
    margin-right: rem(142px);
    vertical-align: top;
  }

  .right-ft{

    .discover{
      margin-top: 47px;
      margin-bottom: 21px;
    }

    .right-ft-info{
      margin-right: rem(68px);
      vertical-align: top;
    }


    .right-title{
      margin-bottom: rem(45px);
      font-size: rem(24px);
    }
    .right-desc{

      li{
        margin-bottom: rem(15px);
        font-size: rem(16px);
      }
    }
  }
}

.logo{
  background-image: url("../../img/logo.png");
  background-size: 100% 100%;
  width: rem(299px);
  height: rem(36px);
}

.ib{
  display: inline-block !important;
  vertical-align: middle;
}

.pd0{
  padding-left: 0;
  padding-right: 0;
}


.top-padding{
  padding-top: 75px;
}

.top-padding-no{
  padding-top: 0;
}

/** 透明背景 **/
.navbar-tran{
  background-color: transparent;
  border-color: transparent;
}









//button

.changeLag{
  width: 250px;
  height: 56px;
  background: #ffffff;
  border: 0 none;
  border-radius: 4px;

  color: #9f9f9f;
  font-size: rem(24px);
  line-height: 56px;
}

/** 基本href **/
.href-base{
  color: #d32271;
  font-size: 14px;
  &:hover{
    color: #d32271;
  }
}


//img
.ui-widget{
  background-image: url("../../img/ui-widget.png");


  &.inbox{
    width: 34px;
    height: 22px;
    background-position: 0 -996px;
    position: relative;

    &.active{
      background-position: 0 -1017px;
    }

    .circle{
      position: absolute;
      right: -11px;
      top: -12px;
      width: 24px;
      height: 24px;
      border-radius: 65px;
      border: 2px solid #060001;
      background: #d32271;
      font-size: 14px;
      color: #060001;
      text-align: center;
    }
  }



   &.inbox-right{
     width: 28px;
     height: 19px;
     background-position: 0 -1039px;
   }

  &.arrow-enter{
    width: 26px;
    height: 22px;
    background-position: 0 -1000px;
  }

  &.arrow-down{
    width: 19px;
    height: 11px;
    background-position: 0 -514px;
  }

  &.star{
    width: 38px;
    height: 36px;

    background-position: 0 -549px;
  }


  &.star-self{

    width: 38px;
    height: 36px;
    background-position: -38px -549px;
  }


  &.man{
    width: 31px;
    height: 30px;

    background-position: -106px -549px;
  }

  &.woman{
    background-position: -76px -549px;
    width: 30px;
    height: 30px;
  }

  &.car{
    width: 50px;
    height: 34px;

    background-position: 0 -592px;
  }

  &.card{
    width: 50px;
    height: 34px;
    background-position:  -50px -592px;
  }


  &.weibo02{
    width: 38px;
    height: 40px;

    background-position: 0 -630px;
  }

  &.facebook02{
    width: 38px;
    height: 40px;

    background-position: 0 -670px;
  }

  &.twitter02{

    width: 38px;
    height: 40px;
    background-position: 0 -710px;
  }

  &.message02{
    width: 38px;
    height: 30px;
    background-position: 0 -750px;

  }
  &.book{
    width: 42px;
    height: 40px;

    background-position: -50px -630px;
  }

  &.phone{
    width: 42px;
    height: 40px;

    background-position: -50px -670px;
  }

  &.cookie{
    width: 42px;
    height: 53px;
    background-position: -50px -710px;
  }


  &.closeWd{
    width: 54px;
    height: 53px;
    background-position: 0 -860px;
  }

  &.closewBd{
    width: 54px;
    height: 53px;
    background-position: 0 -996px;
  }


  &.arrow-right{
    width: 38px;
    height: 35px;
    background-position: -54px -860px;
  }

  &.add{
    width: 37px;
    height: 35px;
    background-position:  -100px -860px;
  }

  &.trans{
    width: 28px;
    height: 16px;
    background-position:  0 -980px;
  }

  &.left-side{
    width: 52px;
    height: 102px;
    background-position: -165px -860px;
  }

  &.right-side{
    width: 52px;
    height: 102px;
    background-position: -227px -860px;
  }

  &.block-bottom{
      background-position: -55px -962px;
      width: 355px;
      height: 34px;
  }

  &.ck{
    background-position: 0px  -962px;
    width: 19px;
    height: 18px;

    -webkit-appearance:none;
    appearance:none;
    -ms-appearance:none;

    cursor: pointer;

  }

  &.ck:checked{
    background-position: -19px -962px;
    width: 19px;
    height: 18px;
  }


}




$footer-icon-width : 55px;
$footer-icon-height : 54px;

.facebook{
  background-position:  0px  0;
  width: $footer-icon-width;
  height: $footer-icon-height;
}

.twitter{
  background-position:  -55px 0;
  width: $footer-icon-width;
  height: $footer-icon-height;
}

.linkedin{
  background-position: -165px 0;
  width: $footer-icon-width;
  height: $footer-icon-height;
}

.signweibo{
  background-position: -110px 0;
  width: $footer-icon-width;
  height: $footer-icon-height;
}



.photo-icon{
  background-position: 0 -186px;
  width: 62px;
  height: 51px;
}
.facebook-icon{
  background-position: 0 -285px;
  width: 62px;
  height: 51px;

}

.linkedin-icon{
  background-position: 0 -336px;
  width: 62px;
  height: 66px;
}

.twitter-icon{
  background-position: 0 -233px;
  width: 62px;
  height: 51px;
}

.email-icon{
  background-position: 0 -453px;
  width: 62px;
  height: 51px;
}

.weibo-icon{
  background-position: 0 -402px;
  width: 62px;
  height: 51px;
}




.dot-50{
  background: url("../../img/dot-50.png");
  background-repeat: repeat;
}


.button-01{
  width: inherit;
  height: inherit;
  color: #ffffff;
  text-align: center;
  background: #d32271;
  font-size: 16px;
  clear: both;
  border: 0;
  margin: 0;
  padding:  0 20px;
  line-height: 40px;
}

.hr-black{
  border: 0;
  border-top: 1px solid #000000;
  margin: 0;
}


.layerClose{
  position: absolute;
  right: 35px;
}

.vt{
  vertical-align: top;
}
.vm{
  vertical-align: middle;
}

.vb{
  vertical-align: bottom;
}

.bold{
  font-weight: bold;
}

.space1{
  letter-spacing: 1px;
}
.select-small{
  width: 55px;
}

.select-large{

}

.select-normal{
  width: 90px;
}
.help-block{
  text-align: left;
}

.a-02{
  color: #fc5f5d;
  font-size: 14px;
}
.a-02:hover{
  color: #fc5f5d;
}

.mb25{
  margin-bottom: 25px;
 }

.img-w-auto{
  height: 100%;
  width: auto;
}

//33input 皮肤
.input-base{
  height: 33px;
  line-height: 33px;
  border: 0 none;
  color: #919191;
  padding: 0 5px;
}

.input-border{
  border-radius: 4px;
}

//当前固定高度
.container{
  width: 1200px !important;
}


.bg-gray{
  background: #fcfcfc;
}
.bg-w{
  background: #ffffff;
}


//table布局
.db{
  display: table;
  height: inherit;
  width: 100%;
}
.db-row{
  display: table-row;
}
.db-cell{
  display:table-cell;
  vertical-align: middle;
}

.vm{
  vertical-align: middle;
}
.vt{
  vertical-align: top;
}
.vb{
  vertical-align: bottom;
}

/** 手机版本css **/
//@import 'media-phone';
