@charset "UTF-8";
/** 导入变量 **/
.spinner {
  width: 150px;
  text-align: center; }

.spinner > div {
  width: 30px;
  height: 30px;
  background-color: #b5c4d2;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s; }

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s; }

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0); }
  40% {
    -webkit-transform: scale(1); } }
@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  40% {
    transform: scale(1);
    -webkit-transform: scale(1); } }
/*
 *  字体导入
 */
@font-face {
  font-family: 'HelveticaNeueLTPro-ThEx';
  src: url("../../font/HelveticaNeueLTPro-ThEx.ttf") format("truetype"), url("../../font/HelveticaNeueLTPro-ThEx.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'HelveticaInseratLTStd-Roman';
  src: url("../../font/HelveticaInseratLTStd-Roman.ttf") format("truetype"), url("../../font/HelveticaInseratLTStd-Roman.woff") format("woff"); }
@font-face {
  font-family: 'HelveticaNeueLTPro-Md';
  src: url("../../font/HelveticaNeueLTPro-Md.ttf") format("truetype"), url("../../font/HelveticaNeueLTPro-Md.woff") format("woff"); }
@font-face {
  font-family: 'HelveticaNeueLTPro-MdCn';
  src: url("../../font/HelveticaNeueLTPro-MdCn.ttf") format("truetype"), url("../../font/HelveticaNeueLTPro-MdCn.woff") format("woff"); }
@font-face {
  font-family: 'HelveticaNeueLTPro-Lt';
  src: url("../../font/HelveticaNeueLTPro-Lt.ttf") format("truetype"), url("../../font/HelveticaNeueLTPro-Lt.woff") format("woff"); }
.fm-roman {
  font-family: 'HelveticaInseratLTStd-Roman'; }

.fm-medium {
  font-family: 'HelveticaNeueLTPro-Md'; }

.fm-medium-cond {
  font-family: 'HelveticaNeueLTPro-MdCn'; }

.fm-thex {
  font-family: 'HelveticaNeueLTPro-ThEx'; }

html, body {
  font-family: 'HelveticaNeueLTPro-Lt';
  font-size: 14px;
  color: #ffffff;
  width: 100%;
  height: inherit;
  background: #ffffff; }

ul, li {
  margin: 0;
  padding: 0;
  list-style: none; }

.container {
  height: inherit; }

nav.navbar .navbar-item {
  overflow: hidden;
  padding-top: 40px; }
  nav.navbar .navbar-item li {
    float: left;
    margin-left: 20px; }
    nav.navbar .navbar-item li a {
      display: block;
      font-size: 18px;
      padding: 6px 12px;
      background: transparent; }
      nav.navbar .navbar-item li a:hover {
        text-decoration: none; }
      nav.navbar .navbar-item li a:hover, nav.navbar .navbar-item li a.active {
        background: #d32271;
        color: #ffffff; }

/** 底部 **/
footer {
  background: #2d2e36;
  width: 100%;
  padding-top: 84px;
  padding-bottom: 70px; }
  footer .footer-end-main {
    border-top: 1px solid #ffffff; }
    footer .footer-end-main .footer-end {
      font-size: 24px;
      line-height: 90px; }
  footer .footer-icon {
    margin-bottom: 49px;
    margin-top: 97px; }
    footer .footer-icon span {
      margin: 0 67px;
      cursor: pointer; }
  footer .ib {
    vertical-align: top; }
  footer .footer-main {
    padding: 5px 12px; }
  footer .left-ft {
    margin-right: 142px; }
  footer .right-ft .discover {
    margin-top: 47px;
    margin-bottom: 21px; }
  footer .right-ft .right-ft-info {
    margin-right: 68px; }
  footer .right-ft .right-title {
    margin-bottom: 45px;
    font-size: 24px; }
  footer .right-ft .right-desc li {
    margin-bottom: 15px;
    font-size: 16px; }

.logo {
  background-image: url("../../img/logo.png");
  width: 299px;
  height: 36px; }

.ib {
  display: inline-block; }

.top-padding {
  padding-top: 75px; }

.top-padding-no {
  padding-top: 0; }

/** 透明背景 **/
.navbar-tran {
  background-color: transparent;
  border-color: transparent; }

.changeLag {
  width: 250px;
  height: 56px;
  background: #ffffff;
  border: 0 none;
  border-radius: 4px;
  color: #9f9f9f;
  font-size: 24px;
  line-height: 56px; }

.ui-widget {
  background-image: url("../../img/ui-widget.png"); }

.facebook {
  background-position: 0px  0;
  width: 55px;
  height: 54px; }

.twitter {
  background-position: -55px 0;
  width: 55px;
  height: 54px; }

.linkedin {
  background-position: -165px 0;
  width: 55px;
  height: 54px; }

.signweibo {
  background-position: -110px 0;
  width: 55px;
  height: 54px; }

.photo-icon {
  background-position: 0 -186px;
  width: 62px;
  height: 51px; }

.facebook-icon {
  background-position: 0 -285px;
  width: 62px;
  height: 51px; }

.linkedin-icon {
  background-position: 0 -336px;
  width: 62px;
  height: 66px; }

.twitter-icon {
  background-position: 0 -233px;
  width: 62px;
  height: 51px; }

.email-icon {
  background-position: 0 -453px;
  width: 62px;
  height: 51px; }

.weibo-icon {
  background-position: 0 -402px;
  width: 62px;
  height: 51px; }

/** auth  **/
.auth {
  position: absolute;
  left: 0;
  top: 0;
  color: #c0c0c0;
  background: #ffffff;
  z-index: 999; }

/*# sourceMappingURL=base.css.map */
