@charset "utf-8";


//导入方法
@import "var";

//导入方法
@import "fun";


//导入自定义组件
@import "widget";

/*
 *  字体导入
 */

// thex
//@font-face {
//  font-family: 'HelveticaNeueLTPro-ThEx';
//
//  src:url('../../font/HelveticaNeueLTPro.eot');
//  src: url('../../font/HelveticaNeueLTPro.eot?#iefix') format("embedded-opentype");
////  url('../../font/HelveticaNeueLTPro-ThEx.ttf') format('truetype');
//
//}

@font-face {
  font-family: 'HelveticaNeueLTPro-ThEx';
  src:  url("../../font/HelveticaNeueLTPro-ThEx.ttf") format('truetype'),
       url("../../font/HelveticaNeueLTPro-ThEx.woff") format('woff');

  font-weight: normal;
  font-style: normal;

}
 

// roman
@font-face {
  font-family: 'HelveticaInseratLTStd-Roman';
  src: url('../../font/HelveticaInseratLTStd-Roman.ttf') format('truetype'),
       url('../../font/HelveticaInseratLTStd-Roman.woff') format('woff');
}


// medium
@font-face {
  font-family: 'HelveticaNeueLTPro-Md';
  src: url('../../font/HelveticaNeueLTPro-Md.ttf') format('truetype'),
       url('../../font/HelveticaNeueLTPro-Md.woff') format('woff');
}

// mediumCond
@font-face {
  font-family: 'HelveticaNeueLTPro-MdCn';
  src: url('../../font/HelveticaNeueLTPro-MdCn.ttf') format('truetype'),
       url('../../font/HelveticaNeueLTPro-MdCn.woff') format('woff');
}


//lt
@font-face {
  font-family: 'HelveticaNeueLTPro-Lt';

  src: url('../../font/HelveticaNeueLTPro-Lt.ttf') format('truetype'),
       url('../../font/HelveticaNeueLTPro-Lt.woff') format('woff')
}


.fm-roman{
  font-family: 'HelveticaInseratLTStd-Roman';
}

.fm-medium{
  font-family: 'HelveticaNeueLTPro-Md';
}

.fm-medium-cond{
  font-family: 'HelveticaNeueLTPro-MdCn';
}

.fm-thex{
  font-family: 'HelveticaNeueLTPro-ThEx';
}





// 设置全局字体
html,body{
  font-family: 'HelveticaNeueLTPro-Lt';
  font-size: $defaultFontSize;


  color: #ffffff;

  width: 100%;

//  height: 100%;
  height: inherit;

  background: #ffffff;


}

ul,li{
  margin: 0;
  padding: 0;
  list-style: none;
}

.container{
  height: inherit;
}




//导航条
nav.navbar{

  .navbar-item{
    overflow: hidden;

    //设置底部间距
    padding-top: rem(40px);

    li{
      float: left;
      margin-left: rem(20px);

      a{
        display: block;
        font-size: rem(18px);
        padding: 6px 12px;
        background: transparent;

        &:hover{
           text-decoration: none;
        }

        &:hover,&.active{

          background: $color-pink;
          color: #ffffff;
        }
      }

    }
  }
}


/** 底部 **/
footer{

  background: #2d2e36;
  width: 100%;

  padding-top: rem(84px);
  padding-bottom: rem(70px);


  .footer-end-main{

    border-top: 1px solid #ffffff;

    .footer-end{
      font-size: rem(24px);
      line-height: 90px;
    }
  }

  .footer-icon{

    margin-bottom: 49px;
    margin-top: 97px;



    span{
      margin:  0 67px;
      cursor: pointer;
    }
  }

  .ib{
    vertical-align: top;
  }

  .footer-main{
    padding:  rem(5px) rem(12px);
  }

  .left-ft{
    margin-right: rem(142px);
  }

  .right-ft{

    .discover{
      margin-top: 47px;
      margin-bottom: 21px;
    }

    .right-ft-info{
      margin-right: rem(68px);
    }


    .right-title{
      margin-bottom: rem(45px);
      font-size: rem(24px);
    }
    .right-desc{

      li{
        margin-bottom: rem(15px);
        font-size: rem(16px);
      }
    }
  }
}

.logo{
  background-image: url("../../img/logo.png");
  width: rem(299px);
  height: rem(36px);
}

.ib{
  display: inline-block;
}


.top-padding{
  padding-top: 75px;
}

.top-padding-no{
  padding-top: 0;
}

/** 透明背景 **/
.navbar-tran{
  background-color: transparent;
  border-color: transparent;
}








//button

.changeLag{
  width: 250px;
  height: 56px;
  background: #ffffff;
  border: 0 none;
  border-radius: 4px;

  color: #9f9f9f;
  font-size: rem(24px);
  line-height: 56px;
}




//img
.ui-widget{
  background-image: url("../../img/ui-widget.png");
}

$footer-icon-width : 55px;
$footer-icon-height : 54px;

.facebook{
  background-position:  0px  0;
  width: $footer-icon-width;
  height: $footer-icon-height;
}

.twitter{
  background-position:  -55px 0;
  width: $footer-icon-width;
  height: $footer-icon-height;
}

.linkedin{
  background-position: -165px 0;
  width: $footer-icon-width;
  height: $footer-icon-height;
}

.signweibo{
  background-position: -110px 0;
  width: $footer-icon-width;
  height: $footer-icon-height;
}



.photo-icon{
  background-position: 0 -186px;
  width: 62px;
  height: 51px;
}
.facebook-icon{
  background-position: 0 -285px;
  width: 62px;
  height: 51px;

}

.linkedin-icon{
  background-position: 0 -336px;
  width: 62px;
  height: 66px;
}

.twitter-icon{
  background-position: 0 -233px;
  width: 62px;
  height: 51px;
}

.email-icon{
  background-position: 0 -453px;
  width: 62px;
  height: 51px;
}

.weibo-icon{
  background-position: 0 -402px;
  width: 62px;
  height: 51px;
}

