//缩放比例
$scale: 2px;



//px
@function rem($px){
//  @return  $px / $scale * 1px ;
  @return  $px;
}


//transform
@mixin px-transform ($value){
    -webkit-transform : $value;
    transform  : $value;
   -moz-transform : $value;
   -ms-transform : $value;
}

//transition
@mixin px-transition ($value){
  -webkit-transition : $value;
  transition  : $value;
  -moz-transition : $value;
  -ms-transition : $value;
}


@mixin  transCenter(){
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform : translate(-50%,-50%);
  transform  : translate(-50%,-50%);
  -moz-transform : translate(-50%,-50%);
  -ms-transform :translate(-50%,-50%);
}

////px转rem
//@function rem($px) {
//  @return $px / ($default-font-size ) * 1rem;
//}