
/** 导入变量 **/
$defaultFontSize : 14px;

$color-pink : #d32271;

$color-pink-light : #ff519f;

$color-black : #040404;

$home-list-height : 300px;

$default-head : #dae8f6;

$username-color : #5e717b;

$head-bg : #f3f5f7;

$more  : #b5c4d2;
$bg  : #fcfcfc;

