<!-- 底部 -->
<footer ng-controller="FooterCtrl">

    <div class="container">

        <section class="text-center footer-main">

            <div class="ib left-ft">

                <!-- dropdown -->
                                <span class="dropdown changeLag" dropdown on-toggle="toggled(open)">
                                      <button  class="dropdown-toggle changeLag fm-thex" dropdown-toggle>
                                          ENGLISH
                                          <span class="caret"></span>
                                      </button>

                                      <ul class="dropdown-menu">
                                          <li ng-repeat="choice in items">
                                              <a href>{{choice}}</a>
                                          </li>
                                      </ul>
                                </span>

            </div>


            <div class="ib right-ft">

                <div class="ib right-ft-info text-left">
                    <h4 class="fm-roman right-title">About us</h4>


                    <ul class="fm-thex right-desc">
                        <li>
                            <a href="javascript:void(0)">Wondervoy’s</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Join  us</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Contact  us</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Partnership</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Service statement</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Privacy  statment</a>
                        </li>
                    </ul>


                </div>

                <div class="ib text-left">
                    <h4 class="fm-roman right-title">I  Love  Sharing</h4>
                    <ul class="fm-thex right-desc ">
                        <li>
                            <a href="javascript:void(0)">What  is  sharing  economy?</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Why  i  want  to  be  a  vee?</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Why  i  want  to  share  my story?</a>
                        </li>
                    </ul>


                    <h4 class="fm-roman discover">Discovery</h4>
                    <ul class="fm-thex right-desc ">
                        <li>
                            <a href="javascript:void(0)">Best  stories</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Vee  rank</a>
                        </li>
                    </ul>

                </div>
            </div>


            <section class="text-center footer-icon">

                <span class="ib ui-widget facebook"></span>
                <span class="ib ui-widget twitter"></span>
                <span class="ib ui-widget linkedin"></span>
                <span class="ib ui-widget  signweibo"></span>

            </section>

        </section>



        <section class="text-center footer-end-main">
            <span class="ib footer-end">Follow&nbsp;&nbsp;&nbsp;&nbsp;Wondervoy</span>
        </section>

    </div>



</footer>