<!-- 顶部 -->
<header class="">

    <!-- 未登录界面 -->
    <nav class="navbar navbar-fixed-top   navbar-tran" role="navigation" style="position: absolute;"
         ng-hide="$root.user.userName">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand ib" href="#">
                    <i class="ib logo"></i>

                    <!-- 切换button -->
                    <button type="button" class="navbar-toggle"
                            data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-3"
                            ng-click="isCollapsed = !isCollapsed">

                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </a>






            </div>
            <ul class="pull-right navbar-item ">
                <li>
                    <a href="#/home/auth/register">Sign up</a>
                </li>
                <li>
                    <a href="#/home/auth/login">Login</a>
                </li>

                <li class="userInfo" ng-show="$root.user.userName">
                    <a href="javascript:void(0);" class="userInfo-head">
                        <img ng-src="{{$root.user.userHead}}" class="res-img"/>
                    </a>
                    <a href="javascript:void(0)" class="userInfo-name">
                        {{$root.user.userName}}
                    </a>
                </li>


                <li>
                    <a href="#/user/addStory">Show Your Stories </a>
                </li>
            </ul>

        </div>
    </nav>

    <!-- 登录界面 -->
    <nav class="navbar navbar-fixed-top  navbar-login navbar-tran" role="navigation" style="position: absolute;"
         ng-show="$root.user.userName">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand ib" href="#/home">
                        <i class="ib logo" ></i>
                </a>
            </div>

            <ul class="pull-right  item-login " ng-init="showDiv=false;hov=false;">

                <li class="" ng-show="$root.user.userName" ng-mouseenter="showDiv=true;hov=true;">
                    <a href="javascript:void(0);" class="ib userInfo-head">
                        <img ng-src="{{$root.user.userHead}}" class="res-img"/>
                    </a>
                </li>

                <li  class="pos-rel">

                    <div ng-mouseenter="showDiv=true;hov=true;"   class="userMouse">
                        <a href="javascript:void(0)" class="ib userInfo-name " ng-class="{'hov':hov}"  >
                            {{$root.user.userName}}
                        </a>
                    </div>
                    <div class="userInfoLayer" ng-show="showDiv"    ng-mouseleave="showDiv=false;hov=false;">
                        <div class="opacityBg"></div>
                        <span class="ib  trans ui-widget"></span>
                        <ul class="userInfoNav" >
                            <li>
                                <a class="ib"  href="#/user" ng-click="showDiv=false;">Your&nbsp;story</a>
                            </li>
                            <li>
                                <a class="ib" href="#/user" ng-click="showDiv=false;">Edit&nbsp;profile</a>
                            </li>
                            <li>
                                <a class="ib" href="#/user"  ng-click="showDiv=false;">Account</a>
                            </li>
                            <li>
                                <a class="ib" ng-click="loginOut();showDiv=false;">Logout</a>
                            </li>
                        </ul>

                    </div>




                </li>

                <li>
                    <a class="showStories ib" href="#/user/addStory">Show Your Stories</a>
                </li>
            </ul>
        </div>
    </nav>


</header>