<!-- 顶部 -->
<header class="">

    <!-- 未登录界面 -->
    <nav class="navbar navbar-fixed-top   navbar-tran" role="navigation" style="position: absolute;"
         ng-hide="$root.user.userName">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand ib" href="#">
                    <i class="ib logo"></i>
                </a>
            </div>
            <ul class="pull-right navbar-item ">
                <li>
                    <a href="#/home/auth/register">Sign up</a>
                </li>
                <li>
                    <a href="#/home/auth/login">Login</a>
                </li>

                <li class="userInfo" ng-show="$root.user.userName">
                    <a href="javascript:void(0);" class="userInfo-head">
                        <img src="{{$root.user.userHead}}" class="res-img"/>
                    </a>
                    <a href="javascript:void(0)" class="userInfo-name">
                        {{$root.user.userName}}
                    </a>
                </li>


                <li>
                    <a href="#/user">Show Your Stories</a>
                </li>
            </ul>

        </div>
    </nav>

    <!-- 登录界面 -->
    <nav class="navbar navbar-fixed-top  navbar-login navbar-tran" role="navigation" style="position: absolute;"
         ng-show="$root.user.userName">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand ib" href="#">
                    <i class="ib logo"></i>
                </a>
            </div>

            <ul class="pull-right  item-login ">

                <li class="" ng-show="$root.user.userName">
                    <a href="javascript:void(0);" class="ib userInfo-head">
                        <img src="{{$root.user.userHead}}" class="res-img"/>
                    </a>
                </li>

                <li  class="pos-rel">

                    <div ng-mouseenter="showDiv=!showDiv;hov=true;"  ng-init="showDiv=false;hov=false;" class="userMouse">
                        <a href="javascript:void(0)" class="ib userInfo-name " ng-class="{'hov':hov}"  >
                            {{$root.user.userName}}
                        </a>
                    </div>
                    <div class="userInfoLayer" ng-show="showDiv"    ng-mouseleave="showDiv=!showDiv;hov=false;">
                        <div class="opacityBg"></div>
                        <span class="ib  trans ui-widget"></span>
                        <ul class="userInfoNav">
                            <li>
                                <a class="ib">Your&nbsp;story</a>
                            </li>
                            <li>
                                <a class="ib">Edit&nbsp;profile</a>
                            </li>
                            <li>
                                <a class="ib">Account</a>
                            </li>
                            <li>
                                <a class="ib" ng-click="loginOut();">Logout</a>
                            </li>
                        </ul>

                    </div>




                </li>

                <li>
                    <a class="showStories ib">Show Your Stories</a>
                </li>
            </ul>
        </div>
    </nav>


</header>