<!-- 顶部 -->
<header class="" >
    <!--<nav class="navbar navbar-fixed-top  navbar-tran" role="navigation">-->
    <nav class="navbar navbar-fixed-top  navbar-tran" role="navigation" style="position: absolute;">
        <div class="container">

            <div class="navbar-header">
                <a class="navbar-brand ib" href="#">
                    <i class="ib logo"></i>
                </a>
            </div>

            <ul class="pull-right navbar-item ">
                <li>
                    <a href="#/home/auth/register">Sign up</a>
                </li>
                <li>
                    <a href="#/home/auth/login">Login</a>
                </li>
                <li>
                    <a  href="#/user">Show Your Stories</a>
                </li>
            </ul>

        </div>
    </nav>

</header>