<!-- 内容区域 -->


<div id="alerts-container"></div>
<section class="bg">
    <!-- banner -->
    <div class="bg-banner"  ng-style="style">
    <!--<div class="bg-banner"  >-->

        <div class="container top-padding">
            <section class="banner-content" >
                <h1 class="fm-medium banner-title" >Enjoy locally</h1>
                <h3 class="fm-medium-cond banner-desc" >Travel with local who you prefer</h3>
            </section>
        </div>

    </div>

</section>

<!-- content -->
<section class="home-desc text-center">

    <div class="text-center">
        <i class="ib dot-sq dot-sq-tp"></i>
    </div>
    <div>
        <h4 class="ib" ng-click="change();">Explore Xi'an</h4>
    </div>
    <div>
        <span class="ib">See Interesting Locals And Stories Around Xi'an</span>
    </div>
    <div class="text-center">
        <i class="ib dot-sq dot-sq-bt"></i>
    </div>
</section>


<section class="home-list ">
    <!--<button class="btn btn-lg btn-primary" data-placement="top-right" data-container="body" data-duration="3"  bs-alert="alert">-->
        <!--<small>(using an object)</small>-->
    <!--</button>-->


    <div class="container">

        <div class="row">

            <!-- 图文列表 -->
            <ul class="text-center home-list-ul" style="color: #000;">


                <li ng-repeat=" item in posts">
                    <div class="row " >

                        <div class="col-md-4 head-bg-main">
                            <div class="head-bg">
                                <section class="transform-center ">
                                    <a href="javascript:void(0)" class="ib head">
                                        <img ng-src="{{item.icon}}"    />
                                    </a>
                                    <span class=" fm-thex block username">{{item.firstName}}&emsp;{{item.lastName}}</span>
                                </section>

                            </div>
                        </div>

                        <div class="col-md-8">


                            <!--单图排列-->
                            <div class="desc-bg" ng-if="item.storys.length == 1">
                                <a storyId="{{obj.storyId}}"  href="javascript:void(0)" class="ib desc" ng-repeat="obj  in item.storys" >
                                    <div class="desc-img">
                                        <img ng-src="{{obj.coverPic}}" class="full-img" />
                                        <span class="ib desc-title">{{obj.coverDesc}}</span>
                                    </div>
                                </a>
                            </div>


                            <!--2图排列-->
                            <div class="row"  ng-if="item.storys.length == 2" >
                                <div storyId="{{obj.storyId}}"  class="col-md-6"  ng-repeat="obj  in item.storys"  >
                                    <div class="desc-bg">
                                        <a href="javascript:void(0)" class="ib desc">
                                            <div class="desc-img">
                                                <img ng-src="{{obj.coverPic}}" class="full-img" />
                                                <span class="ib desc-title">{{obj.coverDesc}}</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </li>

            </ul>

        </div>
    </div>

</section>


<section>
    <div class="container">




        <!-- 加载更多 -->
        <section class="more-load text-center" style="margin: 15px 0;">
            <loading-bar  is-show="isShow">
                    <span  ng-click="home.loadMore();"  class="ib more-font  fm-thex">MORE&nbsp;&nbsp;<i class="ib dot"></i><i class="ib dot"></i><i class="ib dot"></i></span>
            </loading-bar>
        </section>
    </div>
</section>

<section>

    <section class="blank-bg text-center">

        <span class="ib blank-bg-seq-black"></span><br/>
        <span class="ib blank-bg-seq-gray"></span>
    </section>

    <div class="">

        <section class="text-center">
            <span class="ib fm-thex verification ">Multi-verification</span>
        </section>

        <section class="text-center share-icon">
            <span class="ib ui-widget email-icon"></span>
            <span class="ib ui-widget photo-icon"></span>
            <span class="ib ui-widget twitter-icon"></span>
            <span class="ib ui-widget facebook-icon"></span>
            <span class="ib ui-widget linkedin-icon"></span>
            <span class="ib ui-widget weibo-icon"></span>
        </section>



    </div>


</section>







