<!-- auth -->
<section class="auth">
    <!--mask-->
    <div class="mask"></div>

    <div class="auth-layer">

        <!-- 关闭 -->
        <a href="javascript:void(0);" ng-click="forget.close();" class="ib all-img auth-close"><i
                class="auth-close-core ib all-img"></i> </a>

        <div class="forget">

            <div class="forget-title">
                Retrieve password
            </div>

            <form  method="post" novalidate name="forgetForm" class="auth-form" ng-submit="">

            <div class="forget-content">
                    <p class="forget-desc">
                        Enter the email address associated with your account,
                        and we'll email you a link to reset your password.
                    </p>

                    <div>
                        <input type="text"   class="auth-text forget-text" ng-model="fm.email"  placeholder="Email"  required/>
                    </div>
            </div>
            <div class="forget-bottom">

                <button type="submit" class=" forget-btn btn" ng-disabled="forgetForm.$invalid">Send  Reset Link</button>

            </div>

            </form>

        </div>


    </div>

</section>