<div class="text-center pos-rel">
    <button class="auth-btn btn ib light">Sign up with Weibo</button>
    <div class=" auth-shadow all-img"></div>
</div>

<div class="text-center side-line-main">
    <span class="ib side-line"></span>
    <h4 class="ib">&nbsp;or&nbsp;</h4>
    <span class="ib side-line"></span>
</div>

<div class="">
        <form  method="post" novalidate name="loginForm" class="auth-form" ng-submit="login.loginUser();">

            <div class="form-group">
                <input type="text" placeholder="Email"   class="form-control auth-text"  name="email"   ng-model="email"  required/>
            </div>

            <div class="form-group">
                <input type="password" placeholder="Password"   class="form-control auth-text"  name="password"  ng-model="password" required/>
            </div>

            <div class="form-group clearfix checkbox-ly">
                <div class="checkbox ib">
                    <label>
                        <input type="checkbox"> Remember me
                    </label>
                </div>

                <div class="ib">
                    <a href="" class="href-base">Forgot password?</a>
                </div>
            </div>

            <div class="form-group">
                <button type="submit" class="auth-btn  btn" ng-disabled="loginForm.$invalid">Log In</button>
            </div>
        </form>
</div>
