<!-- register -->

<div class="text-center pos-rel">
    <button class="auth-btn btn ib light"  >Sign up with Weibo</button>
    <div class=" auth-shadow all-img"></div>
</div>

<div class="text-center side-line-main">
    <span class="ib side-line"></span>
    <h4 class="ib">&nbsp;or&nbsp;</h4>
    <span class="ib side-line"></span>
</div>

<div class="text-center">
    <button type="submit" class="auth-btn  btn" ng-click="auth.jumpRegisterEmail();" >Sign up with Email</button>
</div>

<div class="text-center side-line-main light">
    <span class="ib side-line"></span>
    <h4 class="ib"><i class="ib circle"></i></h4>
    <span class="ib side-line"></span>
</div>


<section class="auth-desc">
    <p class="text-left">
        By signing up, I agree to Wondervoy's Terms of <br/>Service,and Privacy Policy.
    </p>
</section>