@charset "UTF-8";
.all-img {
  background: url("../../img/all.png") no-repeat; }

/** auth  **/
.auth {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  color: #c0c0c0;
  background: #ffffff; }

.auth-form .auth-text {
  background: #f6f6f6;
  width: 342px;
  font-size: 18px;
  padding: 11.5px 15px;
  color: #919191;
  border: 1px solid #e6e6e6; }

.auth-shadow {
  background-position: 0 -55px;
  width: 298px;
  height: 8px;
  position: relative;
  top: -1px;
  left: 19px; }

.auth-layer {
  position: absolute;
  top: 103px;
  left: 50%;
  z-index: 999;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  background: #ffffff;
  padding-bottom: 1px; }
  .auth-layer .auth-btn {
    width: 342px;
    height: 60px;
    background: #d32271;
    color: #ffffff;
    font-size: 18px;
    text-align: center; }
    .auth-layer .auth-btn.light {
      background: #ec63a0; }
  .auth-layer .auth-content {
    padding: 30px 32px;
    background: #ffffff; }
    .auth-layer .auth-content .form-group {
      margin-bottom: 10px; }
    .auth-layer .auth-content .checkbox-ly {
      margin-top: 25px;
      margin-bottom: 25px; }
      .auth-layer .auth-content .checkbox-ly .checkbox {
        margin-right: 114px; }
    .auth-layer .auth-content .side-line-main {
      color: #141414;
      margin-bottom: 5px;
      margin-top: 10px; }
      .auth-layer .auth-content .side-line-main .side-line {
        background: #3f3f3f;
        height: 1px;
        width: 140px; }
      .auth-layer .auth-content .side-line-main.light .side-line {
        background: #dfdfdf;
        color: #dfdfdf; }
      .auth-layer .auth-content .side-line-main .circle {
        background: #dfdfdf;
        width: 12px;
        height: 12px;
        border-radius: 60px; }
      .auth-layer .auth-content .side-line-main h4 {
        position: relative;
        top: -2px;
        font-weight: bold; }
  .auth-layer .auth-footer {
    background: #3f3f3f;
    color: #ffffff;
    height: 72px;
    padding-left: 36px;
    line-height: 72px; }
  .auth-layer .auth-close {
    background-position: 0 0;
    width: 55px;
    height: 55px;
    position: absolute;
    right: -22px;
    top: -26px; }
    .auth-layer .auth-close .auth-close-core {
      background-position: -55px 0px;
      width: 19px;
      height: 19px;
      position: relative;
      top: 15px;
      left: 18px;
      -webkit-transition: all linear 0.3s;
      transition: all linear 0.3s;
      -moz-transition: all linear 0.3s;
      -ms-transition: all linear 0.3s; }
    .auth-layer .auth-close:hover > .auth-close-core {
      -webkit-transform: rotateZ(180deg);
      transform: rotateZ(180deg);
      -moz-transform: rotateZ(180deg);
      -ms-transform: rotateZ(180deg); }

.auth-desc {
  color: #141414;
  font-size: 14px;
  margin-top: 12px; }
  .auth-desc p {
    margin-bottom: 0; }

/** 忘记密码 **/
.forget {
  padding: 1px;
  background: #ffffff;
  max-width: 410px; }

.forget-title {
  height: 84px;
  line-height: 84px;
  font-size: 14px;
  color: #ffffff;
  font-weight: bold;
  background: #000000;
  padding-left: 27px;
  padding-right: 27px; }

.forget-content {
  padding: 37px  28px 31px 28px; }
  .forget-content .forget-desc {
    color: #696d6f;
    font-size: 14px; }
  .forget-content .forget-text {
    width: 100%;
    height: 45px;
    line-height: 45px;
    font-size: 14px;
    padding-left: 15px; }

.forget-btn {
  width: 150px;
  height: 40px;
  background: #d32271;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  cursor: pointer; }

.forget-bottom {
  padding-bottom: 9px;
  padding-right: 28px;
  padding-left: 28px;
  text-align: right; }

/*# sourceMappingURL=auth.css.map */
