<section class="bg">

<div class="container pdhack">
<div class="row">

<h1 class="userTitle fm-medium text-center">Enjoy locally</h1>
<h4 class="userTitleDesc fm-medium-cond text-center">Travel with local who you prefer</h4>


<ol class="breadcrumb">
    <li><a href="#" class="active">Home</a></li>
    <li>{{userObj.info.lastName}}</li>
</ol>

<div class="user-content">

<div class="row">

    <div class="col-md-12 pos-rel">

        <div class="row">


            <!-- 左侧头像 -->
            <div class="col-md-4 ">
                <div class="ib  info-head">
                    <img src="{{userObj.info.icon}}" class="res-img"/>
                </div>

            </div>

            <!-- 中部内容 -->
            <div class="col-md-8 user-middle">
                <!--<h4 class="">Hey,&emsp;I'm&emsp;stephenie!&emsp;&emsp;&emsp;<i class="ib ui-widget woman"></i></h4>-->
                <h4 class="" ><span ng-bind-html="userObj.info.intro | to_trusted"></span><i class="ib ui-widget " ng-class="{man:userObj.info.sex == 'M',woman:userObj.info.sex == 'F'}"></i></h4>

                <div class="user-star">

                    <ul class="ib">
                        <li>
                            <a class="ib star ui-widget"></a>
                        </li>
                        <li>
                            <a class="ib star ui-widget"></a>
                        </li>
                        <li>
                            <a class="ib star ui-widget"></a>
                        </li>
                        <li>
                            <a class="ib star ui-widget"></a>
                        </li>
                        <li>
                            <a class="ib star-self ui-widget"></a>
                        </li>
                    </ul>

                                    <span class="ib popularity">
                                        <label>Popularity:</label>
                                        4.5
                                    </span>

                </div>

                                <span class="ib user-local">
                                       {{userObj.skills.address}}
                                </span>


                <div class="user-base-info">
                    <span class="ib">{{userObj.skills.driverAge}}</span>
                    <span class="ib">Sagittarius</span>
                    <span class="ib">{{userObj.skills.job}}</span>
                </div>
            </div>


        </div>


        <div class="user-black-layer ib text-left">
            <div class="block-top"></div>
            <div class="block-bottom ui-widget"></div>

            <h4>Language</h4>

            <p>{{userObj.skills.language}}</p>

            <div class="text-center">
                <span class="ib lineyellow"></span>
            </div>

            <ul class="usercard ">
                <li>
                    <label class="ib ui-widget car"></label>
                    <span class="ib">&emsp;&emsp;:&emsp;&emsp;&emsp;{{userObj.skills.car}}</span>
                </li>

                <li>
                    <label class="ib ui-widget card"></label>
                    <span class="ib">&emsp;&emsp;:&emsp;&emsp;&emsp;{{userObj.skills.driverAge}} Years</span>
                </li>
            </ul>


        </div>

    </div>


</div>


<div class="row">
    <div class="col-md-8">
        <div class="line"></div>
    </div>
</div>


<div class="row">


    <div class="col-md-4">


        <div class="user-nav">
            <h5 class="user-nav-title">Verifications</h5>

            <ul class="user-nav-list">
                <li ng-repeat=" v  in userObj.verifications">
                    <a class="ib">
                        <i class="ib ui-widget  icon"  ng-class="{
                            message02 : v.verificationTerrace == 'email',
                            weibo02 :  v.verificationTerrace == 'weibo',
                            twitter02 : v.verificationTerrace == 'twitter',
                            facebook02 : v.verificationTerrace == 'facebook'
                        }"></i>

                        <div class="ib">
                            <span class="ib title-base ">Email Address</span><br/>
                            <span class="ib title-content">{{v.account}}</span>
                        </div>

                    </a>

                    <div class="br-line"></div>
                </li>


            </ul>

        </div>


        <div class="user-nav">
            <h5 class="user-nav-title">Contribution</h5>

            <ul class="user-nav-list">
                <li>
                    <a class="ib">
                        <i class="ib ui-widget book icon"></i>

                        <div class="ib">
                            <span class="ib title-base ">Stories</span><br/>
                            <span class="ib title-content">35</span>
                        </div>

                    </a>

                    <div class="br-line"></div>
                </li>


                <li>
                    <a class="ib">
                        <i class="ib ui-widget cookie icon"></i>

                        <div class="ib">
                            <span class="ib title-base ">Tourists Served</span><br/>
                            <span class="ib title-content">33</span>
                        </div>

                    </a>
                </li>


            </ul>

        </div>


    </div>

    <div class="col-md-8">
        <section class="user-desc">

            <h1 class="user-title"> Why I am a Unique local? </h1>

            <p class="user-p">
                I was born in Germany and I live in Barcelona since 2004. Being a healer & artist, my apartment is also
                my workplace & artgallery at the same time. I love the city, life, art, yoga, feng-shui, design, food,
                .... and I am looking forward to share the real Barcelona experience with travelers from all over the
                world!
            </p>

            <div>
                <a class="ib showMore">Show more...</a>
            </div>
            <h1 class="user-title"> My Stories</h1>


            <ul class="list-story">
                <li>
                    <a class="block" href="#/user/showStory:101">
                        <img src="img/list-01.jpg" class="full-img"/>
                        <span class="ib list-font">Explore Xi'an</span>
                    </a>
                </li>
                <li>
                    <a class="block">
                        <img src="img/list-02.jpg" class="full-img"/>
                        <span class="ib list-font">Explore Xi'an</span>
                    </a>
                </li>
                <li>
                    <a class="block">
                        <img src="img/list-01.jpg" class="full-img"/>
                        <span class="ib list-font">Explore Xi'an</span>
                    </a>
                </li>
            </ul>

        </section>


    </div>


    <section class="col-md-12 bg-more">
        <div class="col-md-8 col-md-offset-4">
            <!-- 加载更多 -->
            <section class="more-load text-center" style="margin: 15px 0;">
                <loading-bar is-show="isShow">
                    <span ng-click="home.loadMore();" class="ib more-font  fm-thex">MORE&nbsp;&nbsp;<i
                            class="ib dot"></i><i class="ib dot"></i><i class="ib dot"></i></span>
                </loading-bar>
            </section>
        </div>
    </section>

</div>


</div>

</div>
</div>

</section>


<section>


    <!-- 弹出部分 -->
    <ui-view></ui-view>

</section>