<section class="bg">


    <div class="container">
        <div class="row">

            <h1 class="userTitle fm-medium text-center">Enjoy locally</h1>
            <h4 class="userTitleDesc fm-medium-cond text-center">Travel with local who you prefer</h4>


            <ol class="breadcrumb">
                <li ><a href="#" class="active">Home</a></li>
                <li>Lin</li>
            </ol>



            <div class="user-content">

                <div class="row">

                    <div class="col-md-8">

                        <div class="row">


                            <!-- 左侧头像 -->
                            <div class="col-md-5 text-right">
                                <div class="ib  info-head" >
                                    <img src="img/userinfo.png"  class="res-img"  />
                                </div>

                            </div>

                            <!-- 中部内容 -->
                            <div class="col-md-7 user-middle">
                                <h4 class="">Hey,&emsp;I'm&emsp;stephenie!&emsp;&emsp;&emsp;<i class="ib ui-widget woman"></i></h4>
                                <div class="user-star">

                                    <ul class="ib">
                                        <li>
                                            <a class="ib star ui-widget"></a>
                                        </li>
                                        <li>
                                            <a class="ib star ui-widget"></a>
                                        </li>
                                        <li>
                                            <a class="ib star ui-widget"></a>
                                        </li>
                                        <li>
                                            <a class="ib star ui-widget"></a>
                                        </li>
                                        <li>
                                            <a class="ib star-self ui-widget"></a>
                                        </li>
                                    </ul>

                                    <span class="ib popularity">
                                        <label>Popularity:</label>
                                        4.5
                                    </span>

                                </div>

                                <span class="ib user-local">
                                        Xi'an, Shaanxi, China
                                </span>


                                <div class="user-base-info">
                                    <span class="ib">25</span>
                                    <span class="ib">Sagittarius</span>
                                    <span class="ib">Teacher</span>
                                </div>
                            </div>


                        </div>

                    </div>

                    <!--右侧tips -->
                    <div class="col-md-4 text-right">

                            <div class="user-black-layer ib text-left">
                                <div class="block-top"></div>
                                <div class="block-bottom ui-widget"></div>

                                <h4>Language</h4>
                                <p>English, Mandarin,French, Japanese</p>
                                <div class="text-center">
                                    <span class="ib lineyellow"></span>
                                </div>

                                <ul class="usercard ">
                                    <li>
                                        <label class="ib ui-widget car"></label>
                                        <span class="ib">&emsp;&emsp;:&emsp;&emsp;&emsp;Available</span>
                                    </li>

                                    <li>
                                        <label class="ib ui-widget card"></label>
                                        <span class="ib">&emsp;&emsp;:&emsp;&emsp;&emsp;5 Years</span>
                                    </li>
                                </ul>


                            </div>

                    </div>

                </div>


                <div class="row">
                    <div class="col-md-8">
                        <div class="line"></div>
                    </div>
                </div>



                <div class="row">


                    <div class="col-md-5">


                        <div class="user-nav">
                            <h5 class="user-nav-title">Verifications</h5>

                            <ul class="user-nav-list">
                                <li>
                                    <a class="ib">
                                        <i class="ib ui-widget message02 icon"></i>
                                        <div class="ib">
                                            <span class="ib title-base ">Email Address</span><br/>
                                            <span class="ib title-content">verified</span>
                                        </div>
                                        <div class="br-line"></div>
                                    </a>
                                </li>

                                <li>
                                    <a class="ib">
                                        <i class="ib ui-widget phone icon" ></i>
                                        <div class="ib">
                                            <span class="title-base ">Phone Number</span><br/>
                                            <span class="title-content">xxxxxxx1234</span>
                                        </div>
                                    </a>
                                </li>
                            </ul>

                        </div>



                    </div>

                    <div class="col-md-7">
                        222
                    </div>

                </div>


            </div>

        </div>
    </div>


</section>